<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Suite">
    <!-- Define a test named "Cucumber Tests" -->
    <test name="Cucumber Tests">
        <!-- List of classes to execute -->
        <classes>
            <!-- Specify the fully-qualified name of the TestRunner class -->
            <class name="TestRunner.TestRunner"/>
        </classes>
    </test>
</suite>
